# Data files
data/
archive/
*.csv
*.parquet

# Virtual env
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Results and plots
results/
plots/

# OS / editor junk
.DS_Store
**/.DS_Store
.vscode/
.idea/
